USE [KnowItAll]
GO
/****** Object:  Table [dbo].[MessageTemplate]    Script Date: 2016/6/29 0:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [MessageTemplate]

CREATE TABLE [dbo].[MessageTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[BccEmailAddresses] [nvarchar](200) NULL,
	[Subject] [nvarchar](1000) NULL,
	[Body] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[AttachedDownloadId] [int] NOT NULL,
	[EmailAccountId] [int] NOT NULL,
	[LimitedToStores] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MessageTemplate] ON 

INSERT [dbo].[MessageTemplate] ([Id], [Name], [BccEmailAddresses], [Subject], [Body], [IsActive], [AttachedDownloadId], [EmailAccountId], [LimitedToStores]) VALUES (1, N'Blog.BlogComment', NULL, N'%Store.Name%. 新博客评论.', N'<p><a href="%Store.URL%">%Store.Name%</a> <br />&nbsp;&nbsp; 创建了一个新的博客评论的博客文章&nbsp; "%BlogComment.BlogPostTitle%".</p>', 1, 0, 1, 0)
INSERT [dbo].[MessageTemplate] ([Id], [Name], [BccEmailAddresses], [Subject], [Body], [IsActive], [AttachedDownloadId], [EmailAccountId], [LimitedToStores]) VALUES (2, N'Customer.BackInStock', NULL, N'%Store.Name%. Back in stock notification', N'<p><a href="%Store.URL%">%Store.Name%</a> <br /><br />Hello %Customer.FullName%, <br />Product <a target="_blank" href="%BackInStockSubscription.ProductUrl%">%BackInStockSubscription.ProductName%</a> is in stock.</p>', 1, 0, 1, 0)
INSERT [dbo].[MessageTemplate] ([Id], [Name], [BccEmailAddresses], [Subject], [Body], [IsActive], [AttachedDownloadId], [EmailAccountId], [LimitedToStores]) VALUES (3, N'Customer.EmailValidationMessage', NULL, N'%Store.Name%. 邮件验证', N'<p><a href="%Store.URL%">%Store.Name%</a> <br /> <br />&nbsp; 激活您的帐户 <a href="%Customer.AccountActivationURL%">click here</a>. <br /> <br /> %Store.Name%</p>', 1, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[MessageTemplate] OFF
